 <section class="success" id="about">
	<div class="container">
	<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<%= render 'form' %>
				<a href="http://localhost:3000/crud_tramites/new_2" class="btn btn-lg btn-outline">
					<i class="fa fa-download">Siguiente</i>
				</a>
			</div>
		</div>
	</div>
</seccion>



