<h1><%= @titulo %></h1>
<%= @subtitulo %>

<%= form_for(@municipio) do |f| %>
<div class="field">
	<% lista = @nombre_municipio.sort %>
	<%= f.select :nombre ,lista %>   
</div>
<div class="actions" >
	<FORM>
		<INPUT Type="BUTTON" VALUE="Continuar" ONCLICK="window.location.href='http://localhost:3000/modulos/index'"> 
	</FORM>
<% end %>
