<h1>Municipio#index</h1>
<p>Find me in app/views/municipio/index.html.erb</p>


<%= form_for(@municipio) do |f| %>
<div class="field">
	<% lista = @nombre_municipio.sort %>
	<%= f.select :nombre ,lista %>   
</div>
<div class="actions" >
	<%= f.submit "Continuar"%>
</div>
<% end %>
