<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @crud_municipio.nombre %>
</p>

<%= link_to 'Edit', edit_crud_municipio_path(@crud_municipio) %> |
<%= link_to 'Back', crud_municipios_path %>
